In [1]:
import os

import pandas as pd
import numpy as np

from sklearn.datasets import make_regression
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler

In [2]:
cars = pd.read_csv("../../data/CART/cars_featureranks_CART.csv", sep=';')
cars

                            feature_name method  feature_rank dataset
0      EPA Fuel Economy Est - City (MPG)   CART          10.5    cars
1                                 Engine   CART          26.5    cars
2                             Drivetrain   CART          17.0    cars
3                     Passenger Capacity   CART          21.0    cars
4                        Passenger Doors   CART          26.5    cars
5                         Wheelbase (in)   CART           4.0    cars
6                   SAE Net Torque @ RPM   CART          13.0    cars
7                            Fuel System   CART           9.0    cars
8               SAE Net Horsepower @ RPM   CART           2.0    cars
9                           Displacement   CART           7.0    cars
10               Trans Description Cont.   CART          21.0    cars
11                            Trans Type   CART          26.5    cars
12               Air Bag-Side Head-Front   CART          26.5    cars
13                Air Bag-Side Head-Rear   CART          32.5    cars
14          Child Safety Rear Door Locks   CART          26.5    cars
15                Daytime Running Lights   CART          32.5    cars
16                      Traction Control   CART          21.0    cars
17                          Night Vision   CART          32.5    cars
18              Rollover Protection Bars   CART          26.5    cars
19                        Basic Miles/km   CART           1.0    cars
20                           Basic Years   CART          17.0    cars
21                    Corrosion Miles/km   CART          32.5    cars
22                       Corrosion Years   CART          17.0    cars
23                   Drivetrain Miles/km   CART          17.0    cars
24                      Drivetrain Years   CART           5.0    cars
25  Turning Diameter - Curb to Curb (ft)   CART          10.5    cars
26                  Front Wheel Material   CART          26.5    cars
27          Roadside Assistance Miles/km   CART          17.0    cars
28                          Manufacturer   CART           6.0    cars
29                            Model year   CART           3.0    cars
30                              Category   CART          26.5    cars
31                      Front tire width   CART          14.0    cars
32               Front tire aspect ratio   CART          12.0    cars
33                   Front tire rim size   CART           8.0    cars

In [3]:
USA = pd.read_csv("../../data/CART/USA_houseprices_2014.csv", sep=';')
USA

                 feature_name method  feature_rank               dataset
0                    bedrooms   CART          10.5  USA_houseprices_2014
1                   bathrooms   CART           7.5  USA_houseprices_2014
2                 sqft_living   CART           1.0  USA_houseprices_2014
3                    sqft_lot   CART           4.0  USA_houseprices_2014
4                      floors   CART           7.5  USA_houseprices_2014
5                  waterfront   CART          10.5  USA_houseprices_2014
6                        view   CART           5.5  USA_houseprices_2014
7                   condition   CART          12.0  USA_houseprices_2014
8               sqft_basement   CART           9.0  USA_houseprices_2014
9   year_since_1st_renovation   CART           5.5  USA_houseprices_2014
10                       city   CART           3.0  USA_houseprices_2014
11                   statezip   CART           2.0  USA_houseprices_2014
12              have_basement   CART          13.0  USA_houseprices_2014

In [4]:
bike_sharing = pd.read_csv("../../data/CART/bike_sharing_featureranks_CART.csv", sep=';')
bike_sharing

   feature_name method  feature_rank       dataset
0        season   CART           6.0  Bike_sharing
1            yr   CART           3.0  Bike_sharing
2          mnth   CART           8.5  Bike_sharing
3            hr   CART           1.0  Bike_sharing
4       holiday   CART          12.0  Bike_sharing
5       weekday   CART           8.5  Bike_sharing
6    workingday   CART           4.0  Bike_sharing
7    weathersit   CART           8.5  Bike_sharing
8          temp   CART           2.0  Bike_sharing
9         atemp   CART           8.5  Bike_sharing
10          hum   CART           5.0  Bike_sharing
11    windspeed   CART          11.0  Bike_sharing

In [5]:
Airbnb_price = pd.read_csv("../../data/CART/airbnb_featureranks_CART.csv", sep=';')
Airbnb_price

              feature_name method  feature_rank       dataset
0            property_type   CART          10.0  Airbnb_price
1                room_type   CART           1.0  Airbnb_price
2                amenities   CART           5.0  Airbnb_price
3             accommodates   CART           7.0  Airbnb_price
4                bathrooms   CART           3.5  Airbnb_price
5                 bed_type   CART          16.0  Airbnb_price
6      cancellation_policy   CART          11.5  Airbnb_price
7             cleaning_fee   CART          13.5  Airbnb_price
8                     city   CART          16.0  Airbnb_price
9     host_has_profile_pic   CART          18.0  Airbnb_price
10  host_identity_verified   CART          16.0  Airbnb_price
11        instant_bookable   CART          13.5  Airbnb_price
12                latitude   CART           3.5  Airbnb_price
13               longitude   CART           2.0  Airbnb_price
14       number_of_reviews   CART           6.0  Airbnb_price
15    review_scores_rating   CART           9.0  Airbnb_price
16                bedrooms   CART           8.0  Airbnb_price
17                    beds   CART          11.5  Airbnb_price

In [6]:
austin_housing = pd.read_csv("../../data/CART/austin_housing_featureranks_CART.csv", sep=';')
austin_housing

                  feature_name method  feature_rank         dataset
0                      zipcode   CART           2.0  austin_housing
1                     latitude   CART           4.0  austin_housing
2                    longitude   CART           7.0  austin_housing
3              propertyTaxRate   CART          23.5  austin_housing
4                 garageSpaces   CART          23.5  austin_housing
5               hasAssociation   CART          11.0  austin_housing
6                    hasGarage   CART          23.5  austin_housing
7                       hasSpa   CART          16.0  austin_housing
8                      hasView   CART          23.5  austin_housing
9                     homeType   CART          16.0  austin_housing
10               parkingSpaces   CART          23.5  austin_housing
11                   yearBuilt   CART           7.0  austin_housing
12             numPriceChanges   CART          11.0  austin_housing
13             numOfAppliances   CART           7.0  austin_housing
14        numOfParkingFeatures   CART          16.0  austin_housing
15  numOfPatioAndPorchFeatures   CART          16.0  austin_housing
16       numOfSecurityFeatures   CART          23.5  austin_housing
17         numOfWindowFeatures   CART          23.5  austin_housing
18                 lotSizeSqFt   CART          16.0  austin_housing
19              livingAreaSqFt   CART           1.0  austin_housing
20           avgSchoolDistance   CART          11.0  austin_housing
21             avgSchoolRating   CART           5.0  austin_housing
22               avgSchoolSize   CART           9.0  austin_housing
23    MedianStudentsPerTeacher   CART          16.0  austin_housing
24              numOfBathrooms   CART           3.0  austin_housing
25               numOfBedrooms   CART          16.0  austin_housing
26                numOfStories   CART          23.5  austin_housing

In [7]:
merged_df = pd.concat([Airbnb_price, austin_housing, bike_sharing, cars, USA], axis=0)
merged_df

                 feature_name method  feature_rank               dataset
0               property_type   CART          10.0          Airbnb_price
1                   room_type   CART           1.0          Airbnb_price
2                   amenities   CART           5.0          Airbnb_price
3                accommodates   CART           7.0          Airbnb_price
4                   bathrooms   CART           3.5          Airbnb_price
..                        ...    ...           ...                   ...
8               sqft_basement   CART           9.0  USA_houseprices_2014
9   year_since_1st_renovation   CART           5.5  USA_houseprices_2014
10                       city   CART           3.0  USA_houseprices_2014
11                   statezip   CART           2.0  USA_houseprices_2014
12              have_basement   CART          13.0  USA_houseprices_2014

[104 rows x 4 columns]

In [8]:
merged_df.to_csv('../../data/featureranks_CART.csv', sep=';',index=False)