In [1]:
import os

import pandas as pd
import numpy as np

from sklearn.datasets import make_regression
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler

In [2]:
cars = pd.read_csv("../data/CART/cars_featureranks_CART.csv", sep=';')
cars

                            feature_name method  feature_rank dataset
0      EPA Fuel Economy Est - City (MPG)   CART          26.0    cars
1                                 Engine   CART          26.0    cars
2                             Drivetrain   CART          26.0    cars
3                     Passenger Capacity   CART          12.0    cars
4                        Passenger Doors   CART          26.0    cars
5                         Wheelbase (in)   CART           5.0    cars
6                   SAE Net Torque @ RPM   CART           6.0    cars
7                            Fuel System   CART          26.0    cars
8               SAE Net Horsepower @ RPM   CART           1.0    cars
9                           Displacement   CART           3.0    cars
10               Trans Description Cont.   CART          26.0    cars
11                            Trans Type   CART          12.0    cars
12               Air Bag-Side Head-Front   CART          26.0    cars
13                Air Bag-Side Head-Rear   CART          26.0    cars
14          Child Safety Rear Door Locks   CART          26.0    cars
15                Daytime Running Lights   CART          26.0    cars
16                      Traction Control   CART          12.0    cars
17                          Night Vision   CART          26.0    cars
18              Rollover Protection Bars   CART          26.0    cars
19                        Basic Miles/km   CART           2.0    cars
20                           Basic Years   CART          12.0    cars
21                    Corrosion Miles/km   CART          26.0    cars
22                       Corrosion Years   CART          26.0    cars
23                   Drivetrain Miles/km   CART          12.0    cars
24                      Drivetrain Years   CART          26.0    cars
25  Turning Diameter - Curb to Curb (ft)   CART          12.0    cars
26                  Front Wheel Material   CART          12.0    cars
27          Roadside Assistance Miles/km   CART          26.0    cars
28                          Manufacturer   CART           4.0    cars
29                            Model year   CART          12.0    cars
30                              Category   CART          26.0    cars
31                      Front tire width   CART          12.0    cars
32               Front tire aspect ratio   CART          12.0    cars
33                   Front tire rim size   CART          12.0    cars

In [7]:
USA = pd.read_csv("../data/CART/USA_houseprices_2014.csv", sep=';')
USA

                 feature_name method  feature_rank               dataset
0                    bedrooms   CART          11.5  USA_houseprices_2014
1                   bathrooms   CART           3.0  USA_houseprices_2014
2                 sqft_living   CART           2.0  USA_houseprices_2014
3                    sqft_lot   CART           4.0  USA_houseprices_2014
4                      floors   CART          11.5  USA_houseprices_2014
5                  waterfront   CART           8.0  USA_houseprices_2014
6                        view   CART           9.5  USA_houseprices_2014
7                   condition   CART           1.0  USA_houseprices_2014
8               sqft_basement   CART           9.5  USA_houseprices_2014
9   year_since_1st_renovation   CART           5.0  USA_houseprices_2014
10                       city   CART           7.0  USA_houseprices_2014
11                   statezip   CART           6.0  USA_houseprices_2014

In [4]:
bike_sharing = pd.read_csv("../data/CART/bike_sharing_featureranks_CART.csv", sep=';')
bike_sharing

   feature_name method  feature_rank       dataset
0        season   CART           7.0  Bike_sharing
1            yr   CART           3.0  Bike_sharing
2          mnth   CART           9.5  Bike_sharing
3            hr   CART           1.0  Bike_sharing
4       holiday   CART          12.0  Bike_sharing
5       weekday   CART           9.5  Bike_sharing
6    workingday   CART           4.0  Bike_sharing
7    weathersit   CART           7.0  Bike_sharing
8          temp   CART           2.0  Bike_sharing
9         atemp   CART           7.0  Bike_sharing
10          hum   CART           5.0  Bike_sharing
11    windspeed   CART          11.0  Bike_sharing

In [5]:
Airbnb_price = pd.read_csv("../data/CART/airbnb_featureranks_CART.csv", sep=';')
Airbnb_price

              feature_name method  feature_rank       dataset
0            property_type   CART          10.0  Airbnb_price
1                room_type   CART           1.0  Airbnb_price
2                amenities   CART           5.0  Airbnb_price
3             accommodates   CART           7.0  Airbnb_price
4                bathrooms   CART           3.5  Airbnb_price
5                 bed_type   CART          15.5  Airbnb_price
6      cancellation_policy   CART          11.0  Airbnb_price
7             cleaning_fee   CART          12.5  Airbnb_price
8                     city   CART          15.5  Airbnb_price
9     host_has_profile_pic   CART          18.0  Airbnb_price
10  host_identity_verified   CART          15.5  Airbnb_price
11        instant_bookable   CART          15.5  Airbnb_price
12                latitude   CART           3.5  Airbnb_price
13               longitude   CART           2.0  Airbnb_price
14       number_of_reviews   CART           6.0  Airbnb_price
15    review_scores_rating   CART           9.0  Airbnb_price
16                bedrooms   CART           8.0  Airbnb_price
17                    beds   CART          12.5  Airbnb_price

In [8]:
merged_df = pd.concat([Airbnb_price, bike_sharing, cars, USA], axis=0)
merged_df

                 feature_name method  feature_rank               dataset
0               property_type   CART          10.0          Airbnb_price
1                   room_type   CART           1.0          Airbnb_price
2                   amenities   CART           5.0          Airbnb_price
3                accommodates   CART           7.0          Airbnb_price
4                   bathrooms   CART           3.5          Airbnb_price
..                        ...    ...           ...                   ...
7                   condition   CART           1.0  USA_houseprices_2014
8               sqft_basement   CART           9.5  USA_houseprices_2014
9   year_since_1st_renovation   CART           5.0  USA_houseprices_2014
10                       city   CART           7.0  USA_houseprices_2014
11                   statezip   CART           6.0  USA_houseprices_2014

[76 rows x 4 columns]

In [ ]:
merged_df.to_csv('../data/featureranks_USAHouse_CART.csv', sep=';',index=False)