# Linear Regression for feature ranking

In [106]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.feature_selection import RFE, f_regression
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split


import os
# change to your local path to project below
project_path = '/home/jorge/Insync/jorgitoje@gmail.com/OneDrive/Documentos/JORGE/EDUCATION/MASTER_DATASCIENCE/Semester1/AdvancedStatistics/GroupProject/KDS_Statistics_GroupProject'
# TO DO:
# use preprocessed dataset from Janos and Mateusz, for now I did it myself
# Need to polish rnakings, they are not correct

In [107]:
dataset_path = os.path.join(project_path, 'datasets/USA_houseprices_2014/data_processed.csv')
df = pd.read_csv(dataset_path)
df['yrs_lastmod'] = 2022 - df['last_modification']
df.head()

,Unnamed: 0,price,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_basement,yr_built,yr_renovated,street,city,statezip,country,last_modification,have_basement,yrs_lastmod
0,0,313000.0,2014-05-02 00:00:00,3.0,1.50,1340,7912,1.5,0,0,...,0,1955,2005,1522,36,62,0,2005,1,17
1,1,2384000.0,2014-05-02 00:00:00,5.0,2.50,3650,9050,2.0,0,4,...,280,1921,0,3899,35,58,0,1921,1,101
2,2,342000.0,2014-05-02 00:00:00,3.0,2.00,1930,11947,1.0,0,0,...,0,1966,0,2291,18,26,0,1966,1,56
3,3,420000.0,2014-05-02 00:00:00,3.0,2.25,2000,8030,1.0,0,0,...,1000,1963,0,4263,3,7,0,1963,1,59
4,4,550000.0,2014-05-02 00:00:00,4.0,2.50,1940,10500,1.0,0,0,...,800,1976,1992,4352,31,31,0,1992,1,30

In [108]:
# Define dictionary to store our rankings
ranks = {}
# Create our function which stores the feature rankings to the ranks dictionary
def ranking(ranks, names, order=1):
    minmax = MinMaxScaler()
    ranks = minmax.fit_transform(order*np.array([ranks]).T).T[0]
    ranks = map(lambda x: round(x,2), ranks)
    return dict(zip(names, ranks))

In [109]:
df_regression = df.drop(['Unnamed: 0', 'date', 'last_modification', 'yr_built', 'yr_renovated', 'street' ],axis=1)
df_regression.head()
y = df_regression['price']
X = df_regression.drop(['price'], axis = 1)
min_max_scaler = MinMaxScaler().fit(X)
X_norm = min_max_scaler.transform(X)
X_train, X_test, y_train, y_test = train_test_split(X_norm, y, test_size = .2, random_state = 1)
colnames = X.columns

In [110]:
lr = LinearRegression()
lr.fit(X_train,y_train)
ranks["LinReg"] = ranking(np.abs(lr.coef_), colnames)

# Using Ridge 
ridge = Ridge(alpha = 7)
ridge.fit(X_train,y_train)
ranks['Ridge'] = ranking(np.abs(ridge.coef_), colnames)

# Using Lasso
lasso = Lasso(alpha=.05)
lasso.fit(X_train,y_train)
ranks["Lasso"] = ranking(np.abs(lasso.coef_), colnames)

/home/jorge/Insync/jorgitoje@gmail.com/OneDrive/Documentos/JORGE/EDUCATION/MASTER_DATASCIENCE/Semester1/AdvancedStatistics/GroupProject/KDS_Statistics_GroupProject/venv/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:634: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.450e+14, tolerance: 1.349e+11
  model = cd_fast.enet_coordinate_descent(

In [111]:
rf = RandomForestRegressor(n_jobs=-1, n_estimators=50, verbose=3)
rf.fit(X, y)
ranks["RF"] = ranking(rf.feature_importances_, colnames);

[Parallel(n_jobs=-1)]: Using backend ThreadingBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 tasks      | elapsed:    0.1s

building tree 1 of 50building tree 2 of 50
building tree 3 of 50
building tree 4 of 50

building tree 5 of 50
building tree 6 of 50
building tree 7 of 50
building tree 8 of 50
building tree 9 of 50
building tree 10 of 50
building tree 11 of 50
building tree 12 of 50
building tree 13 of 50
building tree 14 of 50
building tree 15 of 50
building tree 16 of 50
building tree 17 of 50
building tree 18 of 50
building tree 19 of 50
building tree 20 of 50
building tree 21 of 50
building tree 22 of 50
building tree 23 of 50
building tree 24 of 50
building tree 25 of 50
building tree 26 of 50
building tree 27 of 50
building tree 28 of 50
building tree 29 of 50
building tree 30 of 50
building tree 31 of 50
building tree 32 of 50
building tree 33 of 50
building tree 34 of 50
building tree 35 of 50
building tree 36 of 50
building tree 37 of 50
building tree 38 of 50
building tree 39 of 50
building tree 40 of 50
building tree 41 of 50
building tree 42 of 50
building tree 43 of 50
building tree 44 of 50
building tree 45 of 50
building tree 46 of 50
building tree 47 of 50
building tree 48 of 50
building tree 49 of 50
building tree 50 of 50

[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:    0.3s finished

In [112]:
r = {}
for name in colnames:
    r[name] = round(np.mean([ranks[method][name] 
                             for method in ranks.keys()]), 2)
 
methods = sorted(ranks.keys())
ranks["Mean"] = r
methods.append("Mean")
 
print("\t\t%s" % "\t".join(methods))
for name in colnames:
    print("%s\t%s" % (name, "\t".join(map(str, 
                         [ranks[method][name] for method in methods]))))

		Lasso	LinReg	RF	Ridge	Mean
bedrooms	0.11	0.0	0.02	0.12	0.06
bathrooms	0.06	0.0	0.16	0.35	0.14
sqft_living	1.0	1.0	1.0	0.86	0.96
sqft_lot	0.2	0.0	0.42	0.17	0.2
floors	0.0	0.0	0.1	0.03	0.03
waterfront	0.17	0.0	0.02	0.44	0.16
view	0.05	0.0	0.05	0.22	0.08
condition	0.06	0.0	0.19	0.17	0.11
sqft_above	0.01	0.69	0.21	1.0	0.48
sqft_basement	0.03	0.37	0.07	0.48	0.24
city	0.04	0.0	0.25	0.14	0.11
statezip	0.01	0.0	0.34	0.05	0.1
country	0.0	0.0	0.0	0.0	0.0
have_basement	0.0	0.0	0.0	0.0	0.0
yrs_lastmod	0.0	0.0	0.16	0.02	0.04

In [113]:
rank_df = pd.DataFrame()
for method_name, rank_list in ranks.items():
    df_Temp = pd.DataFrame(data = {method_name:pd.Series(rank_list)})
    rank_df = pd.concat([rank_df,df_Temp ], axis=1)

In [114]:
for method_name, rank_list in ranks.items():
    rank_df[method_name + '_rank'] = rank_df[method_name].rank(ascending=False)

In [115]:
rank_df

,LinReg,Ridge,Lasso,RF,Mean,LinReg_rank,Ridge_rank,Lasso_rank,RF_rank,Mean_rank
bedrooms,0.00,0.12,0.11,0.02,0.06,9.5,10.0,4.0,12.5,11.0
bathrooms,0.00,0.35,0.06,0.16,0.14,9.5,5.0,5.5,7.5,6.0
sqft_living,1.00,0.86,1.00,1.00,0.96,1.0,2.0,1.0,1.0,1.0
sqft_lot,0.00,0.17,0.20,0.42,0.20,9.5,7.5,2.0,2.0,4.0
floors,0.00,0.03,0.00,0.10,0.03,9.5,12.0,13.5,9.0,13.0
waterfront,0.00,0.44,0.17,0.02,0.16,9.5,4.0,3.0,12.5,5.0
view,0.00,0.22,0.05,0.05,0.08,9.5,6.0,7.0,11.0,10.0
condition,0.00,0.17,0.06,0.19,0.11,9.5,7.5,5.5,6.0,7.5
sqft_above,0.69,1.00,0.01,0.21,0.48,2.0,1.0,10.5,5.0,2.0
sqft_basement,0.37,0.48,0.03,0.07,0.24,3.0,3.0,9.0,10.0,3.0
city,0.00,0.14,0.04,0.25,0.11,9.5,9.0,8.0,4.0,7.5
statezip,0.00,0.05,0.01,0.34,0.10,9.5,11.0,10.5,3.0,9.0
country,0.00,0.00,0.00,0.00,0.00,9.5,14.5,13.5,14.5,14.5
have_basement,0.00,0.00,0.00,0.00,0.00,9.5,14.5,13.5,14.5,14.5
yrs_lastmod,0.00,0.02,0.00,0.16,0.04,9.5,13.0,13.5,7.5,12.0